.destination {
  background-image: url('/assets/images/destination/background-destination-mobile.jpg');
}

@media (min-width: 35em) {
  .destination {
    background-image: url('/assets/images/destination/background-destination-tablet.jpg');
    background-position: center center;
  }
}

@media (min-width: 45em) {
  .destination {
    background-image: url('/assets/images/destination/background-destination-desktop.jpg');
  }
}