<main id="main" class="grid-container grid-container--technology">
  <h1 class="numbered-title">
    <span aria-hidden="true">03</span>Space launch 101
  </h1>
  <picture>
    <source srcset="{{ currentTechnology.images.landscape }}" media="(max-width: 44.9rem)">
    <source srcset="{{ currentTechnology.images.portrait }}" media="(min-width: 45rem)">
    <img src="{{ currentTechnology.images.portrait }}" alt="{{ currentTechnology.name }}">
  </picture>
  <div class="number-indicators flex">
    <button
      *ngFor="let technology of technologies; let i = index"
      [attr.aria-selected]="technologies.indexOf(technology) === currentIndex"
      (click)="changeTechnology(i)"
    >
      {{ i + 1 }}
    </button>
  </div>
  <article class="technology-info flow">
    <h2 class="upper fs-400">The terminology…</h2>
    <h3 class="upper fs-700">{{ currentTechnology.name }}</h3>
    <p>{{ currentTechnology.description }}</p>
  </article>
</main>
