<main id="main" class="grid-container grid-container--technology flow">
  <h1 class="numbered-title">
    <span aria-hidden="true">03</span>Space launch 101
  </h1>
  <picture>
    <source srcset="" type="image/webp">
    <img src="" alt="the moon">
  </picture>
  <div class="circle-indicators flex">
    <!-- <button
      *ngFor="let destination of destinations; let i = index"
      [attr.aria-selected]="destinations.indexOf(destination) === currentIndex"
      class="upper ff-sans-cond text-light letter-2"
      (click)="changeDestination(i)"
    >
      {{ destination.name }}
    </button> -->
  </div>
  <article class="destination-info">
    <h2 class="fs-800 upper ff-serif"></h2>
    <h3></h3>
    <p></p>
  </article>
</main>
