.technology {
  background-image: url('../../assets/images/technology/background-technology-mobile.jpg');
  background-repeat: no-repeat;
}

.grid-container--technology {
  --flow-space: 2rem;
  grid-template-areas:
    'title'
    'image'
    'numbers'
    'content'
  ;
}

.grid-container--technology > picture {
  grid-area: image;
}

.grid-container--technology > picture > img {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.grid-container--technology > .number-indicators {
  grid-area: numbers;
}

.grid-container--technology > .technology-info {
  --flow-space: .5rem;
  grid-area: content;
}

.technology-info > h2, p {
  color: hsl(var(--clr-light));
}

.number-indicators > * {
  background-color: transparent;
  border: 1px solid hsl(var(--clr-white) / .25);
  border-radius: 50%;
  color: hsl(var(--clr-white));
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.number-indicators > *:hover,
.number-indicators > *:focus {
  background-color: hsl(var(--clr-white) / .5);
}

.number-indicators > .active,
.number-indicators > [aria-selected="true"] {
  background-color: hsl(var(--clr-white) / 1);
  color: hsl(var(--clr-dark));
}

@media (min-width: 35em) {
  .technology {
    background-image: url('../../assets/images/technology/background-technology-tablet.jpg');
    background-position: center center;
  }
}

@media (min-width: 45em) {
  .technology {
    background-image: url('../../assets/images/technology/background-technology-desktop.jpg');
  }

  .grid-container--technology {
    grid-template-columns: minmax(2rem, 1fr) minmax(0, 10rem) repeat(2, minmax(0, 40rem));
    grid-template-areas:
      '. title title .'
      '. numbers content image'
    ;
    padding-left: 0;
    padding-right: 0;
  }

  .grid-container--technology > picture > img {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .number-indicators {
    display: flex;
    flex-direction: column;
  }

  .number-indicators > * {
    height: 50px;
    width: 50px;
  }
}
