/* .home {
  background-image: url('/assets/images/home/background-home-mobile.jpg');
}

@media (min-width: 35em) {
  .home {
    background-image: url('/assets/images/home/background-home-tablet.jpg');
  }
}

@media (min-width: 45em) {
  .home {
    background-image: url('/assets/images/home/background-home-desktop.jpg');
  }
} */