<header class="primary-header flex">
  <div>
    <img src="assets/images/shared/logo.svg" alt="space travel logo" class="logo">
  </div>
  <button
    class="mobile-nav-toggle"
    aria-controls="primary-navigation"
    [attr.aria-expanded]="isNavigationVisible"
    (click)="toggleNavigation()"
  >
    <span
      class="sr-only"
    >
      Menu
    </span>
  </button>
  <nav>
    <ul
      id="primary-navigation"
      class="primary-nav underline-indicators flex"
      [attr.data-visible]="isNavigationVisible"
    >
      <li routerLinkActive="active"><a class="ff-sans-cond upper text-white letter-2" routerLink="/home"><span aria-hidden="true">00</span>Home</a></li>
      <li routerLinkActive="active"><a class="ff-sans-cond upper text-white letter-2" routerLink="/destinations"><span aria-hidden="true">01</span>Destination</a></li>
      <li routerLinkActive="active"><a class="ff-sans-cond upper text-white letter-2" routerLink="/crew"><span aria-hidden="true">02</span>Crew</a></li>
      <li routerLinkActive="active"><a class="ff-sans-cond upper text-white letter-2" routerLink="/technology"><span aria-hidden="true">03</span>Technology</a></li>
    </ul>
  </nav>
</header>
